<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if is_home %}{{ site.author }}{% elif is_post %}{{ post.title }}{% elif is_link %}{{ link.title }}{% elif is_page %}{{ page.title }}{% endif %} | {{ site.name }}</title>
    <meta name="author" content="{{ site.author }}" />
    <link href="{{ site.atom_url }}" rel="alternate" title="{{ site.name }} Feed" type="application/atom+xml" />
    <link href="{{ static('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ static('bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
    <link href="{{ static('fontawesome/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ static('themes/deuce/deuce.css') }}" rel="stylesheet" />
    <!--[if IE 7]>
        <link href="{{ static('fontawesome/css/font-awesome-ie7.min.css') }}" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="{{ static('bootstrap/js/html5shiv.js') }}"></script>
    <![endif]-->
</head>
<body>

<div class="row header">
    <div class="span8 wrapper">
        <h1><a href="/">{{ site.name }}</a></h1>
    </div>
</div>

{% if is_home %} 

    {% if posts %}
        <div class="row content">
            <div class="span8 posts wrapper">
        
                {% for post in posts %}      
                    {% if loop.index <= 1 %}                  
                        <div class="post">
                            <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
                            <aside class="author">      
                                <span class="dots">ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥</span>                
                                <img src="{{ account.email|gravatar(50) }}" />
                                <span class="dots">ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥</span>                
                            </aside>
                            <div class="post-body">
                                {% if post.content|striptags|wordcount > 0 %}
                                    <p>{{ post.content|striptags|truncate(300) }}</p>
                                {% endif %}
                            </div>
                            <div class="post-info">
                                <div class="info-left">
                                    <p class="date">{{ post.created_at|date_format }}</p>
                                </div>
                                <div class="info-right">
                                    <p class="read-more"><a href="{{ post.permalink }}">Read More &raquo;</a></p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
        
            </div>
        </div>
    {% endif %}

{% elif is_post %}

    <div class="row content">
        <div class="span8 posts wrapper">
   
            <div class="post">
                <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
                <aside class="author">      
                    <span class="dots">ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥</span>                
                    <img src="{{ account.email|gravatar(50) }}" />
                    <span class="dots">ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥</span>                
                </aside>
                <div class="post-body">
                    <p>{{ post.content }}</p>
                </div>
                <div class="post-info">
                    <div class="info-left">
                        <p class="date">{{ post.created_at|date_format }}</p>
                    </div>
                </div>
                {% if site.disqus %}
                <div class="post-comments">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_shortname = '{{ site.disqus }}';
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

{% elif is_link %}

    <div class="row content">
        <div class="span8 posts wrapper">

            <div class="post">
                <h2><a href="{{ link.permalink }}">{{ link.title }}</a></h2>
                <aside class="author">      
                    <span class="dots">ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥</span>                
                    <img src="{{ account.email|gravatar(50) }}" />
                    <span class="dots">ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥</span>                
                </aside>
                <div class="post-body">
                    <p><i class="icon-link"></i> <a href="{{ link.url }}">{{ link.url }}</a></p>
                </div>
                <div class="post-info">
                    <div class="info-left">
                        <p class="date">{{ link.created_at|date_format }}</p>
                    </div>
                </div>
                {% if site.disqus %}
                <div class="post-comments">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_shortname = '{{ site.disqus }}';
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

{% elif is_page %}

    <div class="row content">
        <div class="span8 posts wrapper">

            <div class="post">
                <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
                <aside class="author">      
                    <span class="dots">ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥</span>                
                    <img src="{{ account.email|gravatar(50) }}" />
                    <span class="dots">ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥ï½¥</span>                
                </aside>
                <div class="post-body">
                    {{ page.title }}
                </div>
            </div>

        </div>
    </div>

{% endif %}

<div class="row footer">
    <div class="span8 wrapper">
        
        <div class="row">
            
            <div class="span4 footer-left">
                <h3>Further Reading</h3>
                {% if posts %}
                <ul>
                    {% for post in posts %}
                        {% if loop.index <= 6 and loop.index > 1 %}
                            <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
                        {% endif %}
                    {% endfor %}                  
                </ul>
                {% endif %}
            </div>
            <div class="span3 offset1 footer-right">
                <h3>{{ site.name }}</h3>
                <p>{{ site.bio }}</p>
                <ul class="social">
                    {% if site.twitter %}
                        <li><i class="icon-twitter"></i> <a href="{{ site.twitter }}" target="_blank">Twitter</a></li>
                    {% endif %}

                    {% if site.facebook %}
                        <li><i class="icon-facebook"></i> <a href="{{ site.facebook }}">Facebook</a></li>
                    {% endif %}

                    {% if site.googleplus %}
                        <li><i class="icon-google-plus"></i> <a href="{{ site.googleplus }}">Google+</a></li>
                    {% endif %}

                    {% if site.linkedin %}
                        <li><i class="icon-linkedin"></i> <a href="{{ site.linkedin }}">LinkedIn</a></li>
                    {% endif %}
                </ul>
            </div>
            
        </div>       

    </div>
</div>

<div class="row copyright">
    <div class="span8 wrapper">
        <p>&copy; 2013 <a href="mailto:{{ account.email }}">{{ site.name }}</a>. Powered by <a href="http://postach.io">Postach.io</a>.</p>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ static('bootstrap/js/bootstrap.min.js') }}"></script>

{% if site.analytics %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}

</body>
</html>
